/*-----------------------------------------------------------*/
/* This is the "border-box hack" providing intuitive control */
/* over the height and width of elements on the screen.      */
/* Courtesy of:                                              */
/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/*-----------------------------------------------------------*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;

}

*, *:before, *:after {
  box-sizing: inherit;
}


/*-----------------------------------------------------------*/
/* We want the page to be black and our game board centered. */
/*-----------------------------------------------------------*/
body {
  background-color: rgb(219, 156, 149);
}

body > div {
  margin: 120px auto;
  text-align: center;
}


/*-----------------------------------------------------------*/
/* Every game tile should be 50px by 50px and sitting next   */
/* one another.                                              */
/*-----------------------------------------------------------*/
.tile {
  /* Set the dimensions of each tile. */
  width: 50px;
  height: 50px;

  /* Make them sit snugly together */
  display: inline-block;
  vertical-align: top;
}


/*-----------------------------------------------------------*/
/* Pacman will encounter walls and coins.                    */
/* Pacman can't move through walls, but can eat coins.       */
/*-----------------------------------------------------------*/

/* Walls are blue with an off-blue border. */
.wall {
  width: 30px;
  height: 30px;
  background-color: rgb(145,145,145);
  border: 2px solid rgb(207,207,207);
}

/* Coins are made by rounding the corners and  */
/* making them much smaller than 50px by 50px. */
.coin {
  background-color: yellow;
  border-radius: 50%;
  transform: scale(0.3);
}


/*-----------------------------------------------------------*/
/* We make pacman appear to face different directions by     */
/* using different background images based on class name.    */
/*-----------------------------------------------------------*/
.pacman {
  /* Image urls are relative to the stylesheet.      */
  /* The '../images' means: "go to the parent folder */
  /* then look inside the images folder.             */
  background-image: url('../images/mizpacman.png');
}

.left {
  background-image: url('../images/mizpacman-left.png');
}

.up {
  background-image: url('../images/mizpacman-up.png');
}

.down {
  background-image: url('../images/mizpacman-down.png');
}

/* navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ff4d4d;
}
/* navigation bar */
