html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(219,156,149);
  text-align: center;
}


h1 {
  font-size: 5em;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

button{
  background-color: rgb(177, 177, 177);
  border: 2px solid black;
  color: white;
  text-align: center;
  padding: 40px 75px
  cursor: pointer;
  height: 100px;
  width: 200px;
  font-size: 25px
}

button:hover {
  background-color: black;
}
